# Порт, на котором будет работать Node/Express сервер
PORT=***

# Подключение к MS SQL Server
SQL_SERVER=***
SQL_PORT=***
SQL_DATABASE=***
SQL_USER=***
SQL_PASSWORD=***

# Включить шифрование соединения (для локального сервера — false)
SQL_ENCRYPT=***
